.benefits__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 320px;

  @media (min-width: @tablet-width) {
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1200px;
  }
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  &--sub {
    padding-bottom: 52px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.benefits__figure {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: @desktop-width;
  }
}

.benefits__item {
  background-color: #eeeeee;
  text-align: center;
  text-transform: uppercase;

  &--pic {
    background-color: @color-blue;
  }

  &--sub {
    text-align: left;
    background-color: @color-white;

    @media (max-width: @mobile-width-only) {
      padding-left: 67px;
    }

    @media (min-width: @tablet-width) {
      text-align: center;
      padding-top: 128px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.benefits__caption {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 54px;
  color: @color-black;

  @media (min-width: @tablet-width) {
    font-size: 21px;
  }

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  &--pic {
    color: @color-white;
  }

  &--subtitle {
    margin: 0;
    padding-top: 30px;
  }
}

.benefits__number {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-top: 11px;
  color: @color-lighter-black;

  &--pic {
    color: @color-white;
  }
}

.benefits__description {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-top: 17px;
  padding-bottom: 40px;
  color: @color-lighter-black;

  @media (min-width: @tablet-width) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  &--pic {
    color: @color-white;
  }

  &--sub {
    margin: 0;
    padding-top: 16px;
  }
}
