.benefits-intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.benefits-intro__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}

.benefits-intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
}
