.benefits-intro {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    margin: 0 20px 0 20px;
  }
}

.benefits-intro__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @color-black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 33px 12px 0 10px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-top: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 59px;
  }
}

.benefits-intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: @color-lighter-black;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 35px 0 16px 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 44px;
  }
}
