.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: @color-blue;
  text-decoration: none;
  border: none;
  padding: 0;

  &--submit {
    color: @color-white;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 16px 33px;

    @media (min-width: @desktop-width) {
      padding: 16px 85px;
    }

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      opacity: 0.3;
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }
}

.button__link {
  text-decoration: none;
  color: @color-white;
  background-color: @color-blue;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 16px 48px;

  @media (min-width: @tablet-width) {
    padding: 16px 120px;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
