.button {
    margin-top: 32px;
    margin-bottom: 49px;
    text-align: center;
}

.button__link {
    text-decoration: none;
    color: #ffffff;
    background-color: #81B3D2;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    padding: 16px 49px;
}