.gallery-list-wrapper {
  position: relative;
  margin: 0;
  padding: 0;

  @media (max-width: @mobile-width-only) {
    padding: 25px 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 320px;
    height: 1px;
    background-color: #e5e5e5;
    top: 0;
    left: -20px;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
