.hashtag {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
}

.main-footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
}

.hashtag__title {
    margin: 0;
    padding: 0;
}