.main-footer__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 39px;
  width: 100%;
  max-width: 1200px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-top: 12px;
  }
}
