.promo-video {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 320px;
}

.promo-video__title {
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.promo-video__description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: @color-lighter-black;
}
