.review {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    max-width: 648px;
  }

  @media (min-width: @desktop-width) {
    max-width: 960px;
  }
}

.review__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 36px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    padding-top: 64px;
    padding-bottom: 20px;
  }
}

.review__description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: @color-lighter-black;
  padding-bottom: 53px;
}

.review__style {
  padding: 0;
  margin: 0;
  border: none;

  &--grid {
    @media (min-width: @tablet-width) {
      grid-column: 1 / -1;
    }
  }
}

.review__required {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;

  &--text {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

    color: rgba(51, 51, 51, 0.6);
    padding-top: 3px;
    padding-right: 20px;
  }
}


@media (min-width: @tablet-width) {
  .review__form {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    row-gap: 48px;
  }
}