.review-text {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 56px;
}

.review-text__comment {
  background-color: #f2f2f2;
  border: none;
  width: 100%; 
  max-width: 247px; 
  height: 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  padding: 16px;
  margin: auto;
  resize: none;

  @media (min-width: @tablet-width) {
    max-width: 648px;
  }

  @media (min-width: @desktop-width) {
    width: 768px;
  }
}
