.review-autor {
  position: relative;
  padding-bottom: 64px;

  @media (min-width: @tablet-width) {
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 338px;
      background-color: #dbdbdb;
      right: 0;
      top: -55px;
    }

    padding-bottom: 64px;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 73px;
  }
}
