.review {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    max-width: 648px;
    padding-bottom: 13px;
  }

  @media (min-width: @desktop-width) {
    max-width: 960px;
  }
}

.review__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 36px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    padding-top: 62px;
    padding-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 115px;
    padding-bottom: 30px;
  }
}

.review__description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: @color-lighter-black;
  padding-bottom: 53px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    line-height: 24px;
    padding-bottom: 103px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 65px;
  }
}

.review__style {
  padding: 0;
  margin: 0;
  border: none;

  &--grid {
    @media (min-width: @tablet-width) {
      grid-column: 1 / -1;
    }
  }
}

.review__required {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  &--text {
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.6);
    padding-top: 3px;

    @media (min-width: @tablet-width) {
      font-size: 14px;
      padding-top: 8px;
    }
  }
}

.review__form {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 480px);
  }
}
