.welcome-picture {
  display: flex;
  justify-content: center;
  width: 320px;
  background-color: #81B3D2;
  background-image: url("/images/back-mobile@2x.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome-picture__content {
  padding-top: 90px;
  padding-bottom: 85px;
}
